<h1>send_zip rails sample</h1>

<h2>File</h2>
<p><%=link_to 'Download sample file as zip', download_path(files: 'sample1.jpg') %></p>


<h2>Folder</h2>
<p><%=link_to 'Download sample folder as zip', download_path(files: 'sample_folder') %></p>